@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>This is a Demo Application</h1>
    <br>
    <p class="lead">This demonstrates an implementation of a multi-stage CI-CD pipeline using YAML and Terraform</p>
</div>
